Enter file contents here
#This script will scan for new or existing luns
To_days_date=`date`
HBAS=`ls /sys/class/scsi_host`
for HBA in ${HBAS}
do
        # Check this HBA,for link
        if [ -f /sys/class/scsi_host/${HBA}/state ]
        then
                echo "- - -" > /sys/class/scsi_host/${HBA}/scan
        fi
done
